<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <!-- Criar link HTML e CSS -->
    <link rel="stylesheet" href="/static/estilo.css">
    <!-- Adicionar o ícone (favicon) do site -->
    <link rel="shortcut icon" href="logo.png" type="image/x-icon">
</head>
<body class="nova-musica">
    <div class="caixa-de-login">
        <h2>Crie Uma Nova Música</h2>
        <!-- ADICIONAR O FORM AO INICIO -->
        <form action="/criar_musica" method="POST" onsubmit="return verificarSenhas()">
            <p>Títudo</p>
            <input type="text" id="nome" name="titulo" required placeholder="Digite o nome da música">

            <p>Qual a Letra da Música?</p>
            <textarea id="name" name="conteudo" rows="5" cols="33"></textarea>

            <p>Status da Música</p>
            <input type="text" id="text" name="status" required placeholder="em composição, em gravação ou concluida?">
            <br>
            <br>
            <br>
            
            <div class="botoes">
                <!-- <a href="">Criar conta</a> -->
                <!-- Mudar o a para um button -->
                <button type="submit">Salvar</button>
            </div>
            <!-- FECHAR O FORMS AO FIM -->
        </form>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>