<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="static/estilo.css">
</head>
<body id="home">
    <img id="logo-home" src="/static/img/Logo texto.png">
   
    <div class="botoes">
        <a href="/criar_musica"> + Criar uma música</a>
    </div>
    
      <!-- Seção de "Minhas Criações" -->
      <section class="my-creations">
        <h2>Minhas Criações</h2>
        <div class="cards-container">
          <!-- Card de projeto musical -->
          {% for musica in musicas %}
          <input type="button"onclick="window.location.href='/musicas/editar/{{ musica[0] }}'" value="Editar">
          <div class="card">
            <img src="/static/img/capa1.jpeg" alt="Capa do Projeto" class="cover">
            <div class="card-content">
              {{ musica[1] }} 
              <p>Artista: {{ musica[2] }}</p>
              <p>Status: {{ musica[4] }}</p>
              <p>Letra: {{ musica[3] }}</p>

              <button type="submit" class="deletar" onclick="window.location.href='/musicas/excluir/{{ musica[0] }}'"> X </button>
            </div>
          </div>
          {% endfor %}
          <!-- Mais cards podem ser adicionados aqui -->
        </div>
      </section>
      <div class="excluir_usuario"> <input type="button" onclick="window.location.href='/excluir_usuario'" value="Excluir usuário">
      </div>
</body>

</html>