<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="static/estilo.css">
</head>
<body id="home">
    <img id="logo-home" src="/static/img/Logo texto.png">
   
    <div class="botoes">
        <a href="/criar_musica"> + Criar uma música</a>
    </div>
    
      <!-- Seção de "Minhas Criações" -->
      <section class="my-creations">
        <h2>Minhas Criações</h2>
        <div class="cards-container">
          <!-- Card de projeto musical -->
          {% for musica in musicas %}
          <div class="botoes">
            <a href="/musicas/editar/{{ musica[0] }}"> Editar</a>
          </div>
          
          <div class="card">

            {% if musica[3] is not none and musica[3] != '' %}
                <img src="{{ musica[3] }}"class="cover" alt="Imagem">
            {% else %}
                <img src="{{ url_for('static', filename='img/capa2.jpeg') }}" class="cover" alt="Imagem">
            {% endif %}
            <button type="submit" class="deletar" onclick="window.location.href='/musicas/excluir/{{ musica[0] }}'">🗑️</button>

            <div class="card-content">

              {{ musica[1] }} 
              <p>Artista: {{ musica[2] }}</p>
              <p>Letra: {{ musica[4] }}</p>
              <p>Status: {{ musica[5] }}</p>
            </div>

          </div>
          {% endfor %}
          
        </div>
      </section>
      <div class="excluir_usuario"> <input type="button" onclick="window.location.href='/excluir_usuario'" value="Excluir usuário">
        <input type="button" onclick="window.location.href='/loggout'" value="loggout">
          
</body>

</html>